<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <main>
        <div>
            <form method="post" action="/users">
                <input type="email" name="email" placeholder="Enter Email Here" required/>
                <input type="password" name="password" placeholder="Enter Password Here" required/>
                <button>Submit</button>
            </form>
        </div>
    </main>
</body>
</html>